body {
	margin: 0;
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

form.search-form {
	display: inline-block;
}

.search-box {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
}
.search-box input {
	outline: none;
}
.search-box .search-name {
	height: 19px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px 8px;
	vertical-align: middle;
}
.search-box .search-type {
	height: 27px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	padding: 3px 8px;
	vertical-align: middle;
}
.search-box .search-btn,
.search-box .add-btn {
	display: inline-block;
	height: 27px;
	line-height: 27px;
	background-color: #00B7FF;
	border-radius: 4px;
	border: 0;
	outline: none;
	color: #FFF;
	padding: 0 10px;
	vertical-align: middle;
	cursor: pointer;
}

.data-table {
	margin-top: 10px;
	border-collapse: collapse;
	border: none;
	width: 100%;
}
.data-table th {
	background-color: #F2F2F2;
}
.data-table th, 
.data-table td {
	padding: 10px 10px;
	text-align: center;
	border-left: none;
	border-right: none;
}
.data-table td a {
	display: inline-block;
}
.data-table td a.del {
	color: red;
	margin-left: 10px;
}
.data-table td a:hover {
	text-decoration: underline;
}
/**
 * 添加图书页面的样式
 */
.form {
	border: 1px solid #CCC;
	margin: 20px 0;
	width: 320px;
	border-radius: 4px;
	padding: 10px;
}
.form td {
	text-align: right;
	padding: 10px;
}
.form-input {
	width: 180px;
	height: 27px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px 8px;
	vertical-align: middle;
	outline: none;
	box-sizing: border-box;
}
.btn-primary  {
	width: 80px;
	height: 27px;
	line-height: 27px;
	background-color: #00B7FF;
	border-radius: 4px;
	border: 0;
	outline: none;
	color: #FFF;
	padding: 0 10px;
	vertical-align: middle;
	cursor: pointer;
}
.btn-default {
	width: 80px;
	height: 27px;
	line-height: 27px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	outline: none;
	color: #000;
	padding: 0 10px;
	vertical-align: middle;
	cursor: pointer;
}